/*
Bootstrap grid with sass
Repo: https://github.com/fuksi/bootstrap-grid-sass
Author: Phuc Tran
Version:1.0
*/


@import 'config';
@import 'bootstrap';
@import 'mixins	';

//------------------------- GENERAL STYLES -----------------------------//

body{
	background-image: url("../img/background.jpg");
	position: fixed; 
  	top: 0; 
  	left: 0;
    background-size: cover;
    width: 100%;
    height: auto;
    font-family: Roboto;
}

//------------------------- MAIN AREA -----------------------------//

.main {
	float: left;
	max-width: 75%;
	position: absolute;
	margin-left:0;
	width: 1200px;
	height: 1000px;
	@include linear-gradient (rgba(255, 56, 0, 0.6), rgba(255,114,76, 0.6));

}

//------------------------- SIDEBAR AREA -----------------------------//

.sidebar {
	float: right;
	max-width: 25%;
	background-color: rgba(170, 141, 133, 0.5);
	width: 400px;
	height: 1200px;
	color: white;
}

.sb_content {
	margin: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

input {
	width: 98%;
	height: 20px;
}

#email {
	border: 1px solid rgba(153,214,88,1);
	
	// outer box shadow
    -webkit-box-shadow: 0px 0px 0px 4px rgba(153,214,88,0.8);
    -moz-box-shadow: 0px 0px 0px 4px rgba(153,214,88,0.8);
    box-shadow: 0px 0px 0px 4px rgba(153,214,88,0.8);
    border-radius: 2px;
}

#password {
	border: 1px solid rgba(248,101,86,1);
	
	// outer box shadow
    -webkit-box-shadow: 0px 0px 0px 4px rgba(248,101,86,0.8);
    -moz-box-shadow: 0px 0px 0px 4px rgba(248,101,86,0.8);
    box-shadow: 0px 0px 0px 4px rgba(248,101,86,0.8);
    border-radius: 2px;
}

button {
color: rgba(133, 133, 133, 0.8);
box-shadow: inset 0px -1px 5px -1px rgba(0, 0, 0, 0.4); //inner shadow for the button
border-radius: 7px;
width: 98%;
height: 30px;
font-size: 85%;
text-align: center;
@include linear-gradient (rgba(255, 255, 255, 1), rgba(255, 254, 255, 0.9));

}