/*
Bootstrap grid with sass
Repo: https://github.com/fuksi/bootstrap-grid-sass
Author: Phuc Tran
Version:1.0
*/


@import 'config';
@import 'bootstrap';
@import 'mixins	';
body{
	background-image: url("../img/background.jpg");
	position: fixed; 
  	top: 0; 
  	left: 0;
    background-size: cover;
    width: 100%;
    height: auto;
    font-family: Roboto;
}

.main {
	float: left;
	max-width: 75%;
	position: absolute;
	margin-left:0;
	width: 1200px;
	height: 1000px;
	@include linear-gradient (rgba(255, 56, 0, 0.6), rgba(255,114,76, 0.6));

}

.sidebar {
	float: right;
	max-width: 25%;
	background-color: rgba(170, 141, 133, 0.5);
	width: 400px;
	height: 1200px;
	color: white;
}

.sb_content {
	margin: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

input {
	width: 98%;
	height: 20px;
}

button {
color: white;
border-radius: 2px;
width: 98%;
height: 20px;
font-size: 75%;
text-align: center;

}