/*!
Bootstrap grid with sass
Repo: https://github.com/fuksi/bootstrap-grid-sass
Author: Phuc Tran
Version:1.0
*/


@import 'config';
@import 'bootstrap';

.sideBar {
	width: 20%;
	float: left;
	background-color: #f5f5f5;

}
.header {
	height: 50px;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
	
}
.mainCal {
	width: 80%;
	float: left;
	background-color: #fff;
}
.main {
	width: 100%;
}
.row.rowDay {
	height: 50px;
    border-bottom: 1px solid #999999;
    
}
.time {
	padding-top: 69px;
	text-align: center;
}