/*!
Bootstrap grid with sass
Repo: https://github.com/fuksi/bootstrap-grid-sass
Author: Phuc Tran
Version:1.0
*/


@import 'config';
@import 'bootstrap';

/*
//SideBar Calender here
.sideBar {
	width: 20%;
	float: left;
	background-color: #f5f5f5;
}
.sideHeader{
	height: 50px;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}
.sideHeader ul {
   max-width: 299px;
   text-align: center;
}
.sideHeader ul li {
	display: inline-block;
	padding: 14px;
}
.name {
	color: #ff5d29;
	position: relative;
	bottom: 7px;
}
.titleCal ul li, .titleDay ul li, .titleFilter ul li {
	display: inline-block;
}
.sideHeadLeft {
	padding: 30px 0 5px 20px;	
	font-weight: bold;
}
.sideHeadRight {
	/*padding: 30px 15px 5px 155px;
	font-weight: bold;*/
/*	position: relative;
	
}
.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.titleMon, .titleDay, .numDay{
	text-align: center;
}
.titleMon ul li{
	display: inline-block;
	padding: 26.5px;
	font-weight: bold;
}

.titleDay ul li {
	padding: 0px 10px 15px 10px;
	color: #737373;
}
.numDay ul li {
	display: inline-block;
	padding: 0px 12px 15px 11px;
}
.lightGrey {
	color: #aeaeae;
}
.filterItem ul line-height, .account ul li{
	display: inline-block;
	padding: 0 5px 20px 15px;
}
//Main Calender here
.mainCal {
	width: 80%;
	float: left;
	background-color: #fff;
}
.mainHeader {
	height: 50px;
	border-bottom: 1px solid #999999;
} 
.mainHeader ul{
	
	max-width: 1200px;  
}
.mainHeader ul li {
	display: inline-block;
	padding: 8px 9px;
}
.blackHead {
	color: #000;
	font-weight: bold;
	position: relative;
	bottom: 7px;
}
.greyLightHead {
	color: #737373;
	font-weight: bold;
	position: relative;
	bottom: 7px;
}
.greyDarkHead {
	color: #646464;
	font-weight: 900;
	font-size: 25px;
	position: relative;
	bottom: 7px;
}
.main {
	width: 100%;
}

.rowDay {
	height: 50px;
  border-bottom: 1px solid #999999;
    
}
.time {
	padding-top: 69px;
	text-align: center;
}  END OF INDEX STYLE */

// Start styling main.html

.sidebar {
	width: 20%;
	max-width: 300px;
	position: fixed;
	background-color: #f5f5f5;
	height: 100%;
	float: left;
	border-right: 1px solid #999999;
}
.headerSide, .headerMain {
	height: 50px;
	text-align: center;
	border-bottom: 1px solid #999999;
}
.headerSide li {
	display: inline-block;
	margin: 15px;
}
.middle {
	position: relative;
	bottom: 7px;
}
.title li {
	display: inline-block;
	font-weight: bold;
}
/*.leftSide {
	float: left;
 	width: 60px;
 	margin-left: 20px;
 	margin-top: 20px;
}
.rightSide {
	float: left;
	margin-left: 160px;
}*/

.rotate {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

li {
display: inline-block;
}

.titleDay li {
	padding: 0px 8px 10px 15px;
	color: #737373;
}
.numDay li {
	padding: 0px 11px 10px 15px;
}
.leftSide {
	float: left;
	width: 180px;
	margin: 15px 0px 0px 20px;
}
.rightSide {
	float: left;
	margin: 15px 0px 0px 40px;
}

.footer {
	
   text-align: center;
    position: relative;
    height: 135px;
    top: 100px;
    border-top: 1px solid #999999;
}
button {
	margin-top: 20px;
}

// Style Main Calendar 
.main {
	width: 80%;
	float: right;
}
.headerMain li {
	padding: 8px 9px;
}
.mainCal {
	width: 100%;
}
.rowDay {
	padding-top: 15px;
	padding-left: 5px;
	height: 35px;
	text-align: center;
	border-bottom: 1px solid #999999;
}
.colTime {
	border-right: 1px solid #999999;
}
.time {
	padding-top: 69px;
	text-align: center;
	

}
.box {
	width: 140px;
	height: 75px;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
	

}